.about-division1{
    max-height: 100%;
    overflow:hidden;
}

.about-division1>.container{
    position: relative;
    min-height: 100%;
    max-width: 70%;
    margin: 150px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;   
}

.about-division1>.container>.text{
    margin: 0;
}

.about-division1>.container>.text>h1{
    font-size: 2.5em;
    font-weight: 500;
}

.about-division1>.container>.text>h2{
    font-weight: 500;
}

.about-division1>.container>.icons{
    margin: 50px 30px 0 30px;
    float: right;
    font-size: 3em;
}

.about-division2{
    overflow:hidden;
}

.about-division2>.container{
    height: 100%;
    background-color: #1976d2;
    max-width: 100%;
    margin: 0 auto;
    text-align: end;

    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.about-division2>.container>h1{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5em;
    color: #fafafa;
}

.about-division2>.container>h2{
    font-weight: 500;
    font-size: 1.3em;
    color: #fafafa;
}

.about-division2>.container>.skills{
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-division2>.container>.skills>.type{
    text-align: center;
    margin: 30px;
}

.about-division2>.container>.skills>.type>h1{
    font-weight: 500;
    text-transform: uppercase;
    color: #fafafa;
    text-decoration: underline;
    font-size: 1.8em;
}

.about-division2>.container>.skills>.type>h2{
    font-weight: 500;
    text-transform: uppercase;
    color: #fafafa;
    font-size: 1.3em;
}