.about-division1{
    max-height: 100%;
    overflow:hidden;
}

.about-division1>.container{
    position: relative;
    min-height: 100%;
    max-width: 70%;
    margin: 170px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;   
}

.about-division1>.container>.text{
    margin: 0;
}

.about-division1>.container>.text>h1{
    font-size: 2.5em;
    font-weight: 500;
}

.about-division1>.container>.text>h2{
    font-weight: 500;
}

.about-division1>.container>.icons{
    margin: 70px 30px 0 30px;
    float: right;
    font-size: 3em;
    text-align: center;
}

.about-division2{
    overflow:hidden;
}

.about-division2>.container{
    height: 100%;
    background-color: #1976d2;
    max-width: 100%;
    margin: 0 auto;
    text-align: end;

    padding-top: 30px;
    padding-bottom: 60px;
}

.about-division2>.container>h1{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.2em;
    color: #fafafa;
    margin-right: 30px;
}

.about-division2>.container>.skills{
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.about-division2>.container>.skills>.type{
    flex: 1 1 0px;
    text-align: center;
    margin: 30px;
}

.about-division2>.container>.skills>.type>h2{
    font-weight: bold;
    text-transform: uppercase;
    color: #fafafa;
}

.about-division2>.container>.skills>.type>p{
    font-weight: 500;
    text-transform: uppercase;
    color: #fafafa;
}