@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

header{
    position: relative;
    background-color: #212121;
    height: 70px;
    width: 100%;
}

.header-container{
    max-width: 90%;
    margin: 0 auto;
}

.header-container>nav>a>.logo{
    margin: 15px 0;
    height: 40px;
    filter: invert();
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

nav ul li a{
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bold;
}

footer{
    color: #fafafa;
    font-size: 16px;
    height: 100px;
    background-color: #212121;
    text-align: center;
    line-height: 100px;
}